
<form class="new_transaction" id="new_transaction" action="/transactions" accept-charset="UTF-8" method="post">

  <br>

  <div class="field">
    <!-- <label for="item_name">Item name:</label><br> -->
    <input type="text" name="item[name]" id="item_name" placeholder="Item Name">
  </div>

  <br>

  <div class="field">
    <!-- <label for="amount_name">Amount:</label><br> -->
    <input type="text" name="amount[name]" id="amount_name" placeholder="Amount">
  </div>

  <br>

  <div class="color">
    <label class="radio-inline"><input type="radio" name="optradio">Debit</label>
    <label class="radio-inline"><input type="radio" name="optradio">Credit</label>
  </div>

  <br><br>

  <div class="actions">
    <input type="submit" name="commit" value="Create Transaction">
  </div>
</form>

<ul id= "results2"> </ul>
