.userpage {
  height: 30em;
  padding-top: 1em;
  opacity: 0.4;
  background: black;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: -21.0em;
}


.usercontent {
  position: relative;
  color: white;
  z-index: 2;
  margin-top: 4em;
  color: white;
  font-family: 'Martel Sans', sans-serif;
}
